html, body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background: tomato;
}

h1{
  color: white;
  display: block;
  font-size: 100px;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: default;
  user-select: none;
}