/*

super duper secret palette
red	    #FE4A49
blue	  #6377B2
yellow	#FFD866
green	  #67D157
teal	  #009FB7

*/

html, body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background: #FFD866;
  background: linear-gradient(to right, #FE4A49 0%, #FE4A49 20%,
                                        #6377B2 20.1%, #6377B2 40%,
                                        #FFD866 40.1%, #FFD866 60%,
                                        #67D157 60.1%, #67D157 80%,
                                        #009FB7 80.1%, #009FB7 100%);
}

h1{
  color: white;
  display: block;
  font-size: 200px;
  font-family: 'Roboto';
  font-weight: 100;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: default;
  user-select: none;
}

@media (max-width: 820px) {
  h1{
    font-size: 150px;
  }
}

@media (max-width: 610px) {
  h1{
    font-size: 120px;
  }
}
