:root{
	--grey-1: #151515;
	--grey-2: #333;
	--grey-3: dimgray;
	--red: tomato;
	--yellow: goldenrod;
	--green: seagreen;

	--bg-color: var(--grey-1);
	--cell-size: 50px;
}

body{
	background-color: var(--bg-color);
	color: white;
	font-size: 12pt;
	font-family: 'Poppins', sans-serif;
}

.topBar{
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	margin-bottom: 10px;
}

.topBar button{
	background-color: var(--grey-2);
	border: none;
	font-size: 10pt;
	padding: 5px 16px;
	margin-right: 10px;
	box-sizing: border-box;
	border-radius: 25px;
	color: white;
	font-family: 'Poppins';
}

.aboutContainer{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	top: -200vh;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--bg-color);
	z-index: 2;
	transition: all .3s ease;
}

.aboutContainer.active{
	top: 0;
}

.closeButton{
	background-color: var(--grey-2);
	border: none;
	font-size: 10pt;
	padding: 5px 16px;
	box-sizing: border-box;
	border-radius: 25px;
	color: white;
	font-family: 'Poppins';
	margin: 20px 0;
}

.about{
	max-width: 400px;
	line-height: 1.5;
}

.about a, .about a:visited{
	color: var(--green);
}

.content{
	width: 100%;
	margin-bottom: 20px;
}

.row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.letter{
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: var(--cell-size);
	height: var(--cell-size);
	font-size: 16pt;
	box-sizing: border-box;
	border-radius: 50%;
	border: var(--grey-2) 3px solid;
	background-color: none;
	margin: 4px;
	text-transform: uppercase;
	transition: all .3s ease;
}

.l-wrong{
	border: none;
	background-color: var(--grey-2);
}

.l-semi{
	border: none;
	background-color: var(--yellow);
}

.l-right{
	border: none;
	background-color: var(--green);
}

.bottomBar{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: relative;
}

.messageContainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: absolute; top: -10000px; left: 0;
}

.messageContainer.active{
	top: 0; left: 0;
}

.message{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 40px;
	border-radius: 20px;
	background-color: var(--green);
	text-align: center;
	font-size: 10pt;
	transform: scale(0);
	transition: all .3s ease;
}

.message.lost{
	background-color: var(--red);
}

.message.active{
	transform: scale(1);
}

.errorContainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: absolute; top: 40px; left: 0;
	transform: translateY(-120px);
	transition: all .3s ease;
}

.errorContainer.active{
	transform: translateY(0px);
}

.error{
	padding: 8px 20px;
	background-color: var(--red);
	border-radius: 25px;
	font-size: 14pt;
}

.input{
	background-color: var(--grey-2);
	border: none;
	font-size: 14pt;
	padding: 0 25px;
	max-width: 250px;
	height: 40px;
	box-sizing: border-box;
	border-radius: 20px 0 0 20px;
	color: white;
	font-family: 'Poppins';
	text-transform: uppercase;
	transition: all .3s ease;
}

.input:focus{
	background-color: var(--grey-3);
	outline: none;
}

.button{
	background-color: var(--green);
	border: none;
	font-size: 14pt;
	padding: 0 20px 0 15px;
	height: 40px;
	box-sizing: border-box;
	border-radius: 0 20px 20px 0;
	color: white;
	font-family: 'Poppins';
}